server {
    listen *:80;
    server_name www.promokashka.com promokashka.com;
    root {{ ansistrano_release_path.stdout }}/frontend/web;
    access_log off;
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;

    return 301 https://promokashka.com$request_uri;
}

server {
    listen *:80;
    server_name admin.promokashka.com;
    root {{ ansistrano_release_path.stdout }}/backend/web;
    access_log off;
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;

    return 301 https://admin.promokashka.com$request_uri;
}

server {
    listen *:443 ssl http2;
    server_name www.promokashka.com;
    root {{ ansistrano_release_path.stdout }}/frontend/web;
    access_log off;
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;

    {% include './ssl.j2' %}

    return 301 https://promokashka.com$request_uri;
}

server {
    listen *:443 ssl http2;
    server_name admin.promokashka.com;
    root {{ ansistrano_release_path.stdout }}/backend/web;
    client_max_body_size 32m;
    index index.php;
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;

    {% include './ssl.j2' %}

    if ($request_uri ~* "^(.*/)index\.php$") {
        return 301 $1;
    }

    location /assets {
        expires max;
        break;
    }

    location /image {
        expires max;
        try_files /../../storage$uri /index.php$is_args$args;
    }

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        {% include './php-fpm.j2' %}
    }
}

server {
    listen *:443 ssl http2;
    server_name promokashka.com;
    root {{ ansistrano_release_path.stdout }}/frontend/web;
    index index.php;
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;

    {% include './ssl.j2' %}

    if ($request_uri ~* "^(.*/)index\.php$") {
        return 301 $1;
    }

    location /shop/tidebuycom-int {
        return 301 https://promokashka.com/shop/tidebuy$is_args$args;
    }

    location /shop/bukvoed-2 {
        return 301 https://promokashka.com/shop/bukvoed$is_args$args;
    }

    location /assets {
        expires max;
        break;
    }

    location /image {
        expires max;
        try_files /../../storage$uri /index.php$is_args$args;
    }

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        {% include './php-fpm.j2' %}
    }
}
