<?php

return [
    'components' => [
        'db' => [
            'class' => 'yii\db\Connection',
            'dsn' => 'mysql:host=localhost;dbname=pc',
            'username' => 'pc',
            'password' => 'qweasdzxc',
            'charset' => 'utf8',
            'tablePrefix' => 'pc_',
            'enableLogging' => false,
            'enableProfiling' => false,
        ],
        'rollbar' => [
            'serverToken' => '8e27787e45864af58d70c907cc6ac5a4',
            'clientToken' => '015480148913403897ea1c8e13deb3b2',
        ],
        'antiplagiat' => [
            'key' => 'qGtowtg5dew192D',
        ],
        'shortUrl' => [
            'key' => 'AIzaSyAD1wyqn2bATrEDPHw9Fe0g2bX_wwe0qTY',
        ],
        'twitter' => [
            'consumer_key' => 'u7WcF2LJdtgkIQpJ3moiQ',
            'consumer_secret' => 'VpCtwXPtq2Kvy2cyk3bpgHRpyezB2fVHf2YljLIW4',
            'access_token' => '2411179022-4B3PLPgvHDhkrK0ep7BTvlkjCSq5PEWP6E2qtVX',
            'access_token_secret' => 'mPFcA7zyGtapOGXmFTwDX3PiKqL41gsuqB0N0YonkmzYV',
        ],
    ],
    'params' => [
        'admitad' => 'http://export.admitad.com/ru/webmaster/websites/180199/coupons/export/?code=357079a6e6&user=vyachin&format=xml&v=1',
        'cityads' => 'http://api.cityads.com/api/rest/webmaster/xml/coupons?remote_auth=6420072d37bf14f1df182d0fe0efa2d9&status=1&geo=186&limit=1000000',
        'actionpay' => 'https://actionpay.net/ru/couponFeed/id:4818;act:xmlFilter',
        'logo' => 'logo.png',
        'error_404' => 'error404.jpeg',
        'error_503' => 'error505.jpeg',
        'yandex' => [
            'login' => '{{ yandex_login }}',
            'password' => '{{ yandex_password }}',
        ],
    ],
];
