$base-font-size: 12pt;
$font-size-body: rem($font-size-context);
$body-font-size: rem($font-size-context);
$body-line-height: rem(22);

html {
  font-size: $base-font-size;
  font-family: Ubuntu,Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  background-color: $white;
  color: #333;
  font-family: 'Ubuntu';
  font-size: $body-font-size;
  font-weight: 400;
  line-height: $body-line-height;
  text-rendering: optimizeLegibility;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}

// Typography =================================================================
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: rem(20);
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { font-size: rem(36); }
h2, .h2 { font-size: rem(30); }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: rem(18); margin-bottom: rem(10);}
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

a{
  color: #e95420;
  font-size: rem(14);
  &:focus,
  &:hover {
    color: #ac3911;
    text-decoration: underline
  }
  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
  }
}
b{
  font-weight: 500;
}
.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-none {
  float: none !important; }

.flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between { justify-content: space-between !important; }
.img-fluid {
  max-width: 100%;
  height: auto; }

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto; }

.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }

.description{
  .show-full{
    display: none;
  }
  &.less{
    .show-full{
      display: block;
    }
    .show-less{
      display: none;
    }
  }
}