.category{
  // background-color: #925475;
  border-radius: 4px;
  // color: $white;
  margin-bottom: rem(20);

  .stars {
    margin-top: rem(5);
    cursor: pointer;

    .rating {
      cursor: pointer;
      fill: #925475;
    }

    &:hover {
      .star polygon {
        fill: #ffd055 !important;
      }
    }

    .star {

      polygon {
        fill: #d8d8d8;
      }

      &:hover ~ .star {
        polygon {
          fill: #d8d8d8 !important;
        }
      }
    }

    &[data-stars] {
      .star polygon {
        fill: #ffd055;
      }
    }

    &[data-stars="1"] {
      .star:nth-child(1) ~ .star polygon {
        fill: #d8d8d8;
      }
    }

    &[data-stars="2"] {
      .star:nth-child(2) ~ .star polygon {
        fill: #d8d8d8;
      }
    }

    &[data-stars="3"] {
      .star:nth-child(3) ~ .star polygon {
        fill: #d8d8d8;
      }
    }

    &[data-stars="4"] {
      .star:nth-child(4) ~ .star polygon {
        fill: #d8d8d8;
      }
    }

    &[data-stars="5"] {
      .star:nth-child(5) ~ .star polygon {
        fill: #d8d8d8;
      }
    }
  }

  .image{
    text-align: center;
    margin-top: rem(20);
    @include media-breakpoint-up(sm){
      margin-top: rem(0);
      text-align: right;
    }
  }
  .svg--user{
    svg{
      fill: #925475;
    }
  }
  .description{
    margin-bottom: rem(10);
    &.less{
      .wrapper{
        overflow: hidden;
        height: rem(50);
      }
    }
  }
}