.coupon{
  margin-bottom: rem(20);
  &-body{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    @include media-breakpoint-up(sm){
      justify-content: space-between;
    }
    @include media-breakpoint-up(md){
      flex-wrap:nowrap;
    }
  }
  &--name{
    display: block;
    line-height: rem(14);
    text-align: center;
  }
  &-description{
    // float: left;
    width: 100%;
    @include media-breakpoint-up(sm){
      width: 70%;
    }
    @include media-breakpoint-up(md){
      width: 100%;
    }
  }
  &--link{
    display: block;
    // float: left;
    min-width: auto;
    margin-bottom: rem(10);
    @include media-breakpoint-up(sm){
      margin-bottom: rem(0);
      min-width: 25%;
    }
    @include media-breakpoint-up(md){
      min-width: 25%;
    }
    @include media-breakpoint-up(lg){
      min-width: 27%;
    }
    @include media-breakpoint-up(xl){
      min-width: 25%;
    }
    @include media-breakpoint-up(xxl){
      min-width: 23%;
    }
    @include media-breakpoint-up(xxxl){
      min-width: 20%;
    }
    img{
      display: block;
      margin: 0 auto;
    }
  }
  &-code{
    margin-top: rem(20);
    text-align: center;
    width: 100%;
    @include media-breakpoint-up(sm){
      margin-top: rem(5);
    }
    @include media-breakpoint-up(md){
      margin-top: rem(0);
      width: auto;
    }
  }
  &-button {
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0) linear-gradient(315deg, rgba($black, 0.06) 10%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 35%, rgba($black, 0.06) 40%, rgba($black, 0.06) 60%, rgba($black, 0) 65%, rgba($black, 0) 85%, rgba($black, 0.06) 90%) repeat scroll 0 0;
    background-size: 6px 6px;
    border: 2px solid #ddd;
    color: #444;
    font-size: 20px;
    padding: 10px 12px;
    position: relative;
    text-align: right;
    border-radius: 3px;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    min-width: 213px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $black;
    }
    .code-text {
      display: inline-block;
      max-width: 150px;
      overflow: hidden;
      text-overflow: clip;
      text-transform: uppercase;
      white-space: nowrap;
      word-wrap: normal;
      height: 19px;
    }
    .get-code {
      background: #dd4814 none repeat scroll 0 0;
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
      color: #fff;
      font-size: 16px;
      left: -1px;
      padding: 14px 14px 15px 14px;
      position: absolute;
      top: -2px;
      transition: all 0.5s ease 0s;
      &::after {
        border-left: 41px solid #dd4814;
        border-top: 45px solid transparent;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        right: -40px;
        top: 0;
        width: 0;
      }
      &:hover {
        padding-right: 5px;
        transition: all 0.5s ease 0s;
      }
    }
  }
  .css-dislike,
  .css-like{
    display: block;
    margin: 0 rem(5);
  }
  .type-discount{
    background-color: #e95420;
    display: inline;
    padding: .2em .6em .3em;
    font-size: rem(12.5);
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  }
  .coupon-info{
    color: #999;
    font-size: rem(14);
    line-height: rem(14);
  }
  .description{
    font-size: rem(14);
    line-height: rem(16);
    margin-top: rem(10);
    &.less{
      .wrapper{
        overflow: hidden;
        height: rem(16);
      }
    }
  }
  &-stat{
    align-content: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: #999;
    font-size: rem(14);
    line-height: rem(14);
    justify-content: space-between;
    width: 100%;
    // .svg--thumbs-up{
    //   height: rem(20);
    //   svg{
    //     height: rem(20);
    //   }
    // }
    &--success{
      color: $green;
      line-height: rem(20);
    }
    &--used{
      line-height: rem(20);
    }
    .svg--signal {
      height: rem(20);
      vertical-align: top;
      svg{
        height: rem(20);
      }
    }
  }
}