footer {
  margin-top: 40px;
  padding: 20px 0;
  background-color: rgba(119, 41, 83, 0.8);
  .social-menu{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    @include clearfix;
    li{
      display: block;
      float: left;
      + li{
        margin-left: rem(10);
      }
    }
  }
  a, a:hover, a:active, a:visited {
    color: #fff;
  }

  h4 {
    color: rgba(255, 255, 255, 0.5);
  }
}