.svg-icon{
  display: inline-block;
  height: rem(16);
  width: auto;
  svg{
    fill:#999;
    display: block;
    height: rem(16);
    width: auto;
  }
}
.svg--thumbs-down {
  height: rem(24);
  svg{
    height: rem(24);
    fill: $red;
  }
}
.svg--thumbs-up {
  height: rem(24);
  svg{
    height: rem(24);
    fill: $green;
  }
}