@import "~bootstrap/scss/modal";
.modal-header{
  align-items: center;
  .close{
    font-size: rem(48);
    float: none;
    position: absolute;
    padding: 0;
    line-height: rem(28);
    margin: 0;
    right: 5px;
    height: rem(28);
    top: 0px;
    vertical-align: middle;
    &:focus{
      outline: none;
    }
  }
  padding-right: 30px;
  .h3{
    margin-bottom: 0;
  }
}
.modal-title{
  width: 100%;
}
.modal-image{
  margin-right: rem(20);
}
.modal-code {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 20px;
    text-align: center
}

.modal-code .code-text {
    background: #fff1db none repeat scroll 0 0;
    border: 2px dashed #f90;
    border-radius: 3px;
    color: $black;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 20px;
    padding: 8px 0 10px;
    width: 86%
}
.modal-offer-description {
  font-size: rem(14);
  &.hide{
    display: none;
  }
}
.css-desc-toggle{
  .svg--chevron-down {
    position: relative;
    height: rem(11);
    top: 2px;
    svg{
      height: rem(11);
      fill:#e95420;
    }
  }
}