.popular-shops{
  margin-top: rem(20);
  @include media-breakpoint-up(md){
    margin-top: rem(56);
    .mb0 &{
      margin-top: 0;
    }
  }
  &--inner{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
  &--item{
    border-radius: 2px;
    border: 2px solid #f5f5f5;
    display: block;
    margin-bottom: rem(10);
    text-align: center;
    width: 100%;
    &:nth-child(2n+1){
      @include media-breakpoint-up(sm){
        margin-right: rem(5);
      }
    }
    &:nth-child(2n){
      @include media-breakpoint-up(sm){
        margin-left: rem(5);
      }
    }
    @include hover-focus{
      border-color: #e95420;
    }
    @include media-breakpoint-up(sm){
      width: calc(50% - 5px);
      // margin: 0 10px;
    }
  }
}