.popular-stores{
  background: $white;
  // padding: 10px;
  overflow: hidden;
  position: relative;
  margin:0 auto rem(20);
  width: 100%;
  @include media-breakpoint-up(sm){
    width:192px*3;
  }
  @include media-breakpoint-up(md){
    width:192px*4;
  }
  @include media-breakpoint-up(lg){
    width:198px*5;
  }
  @include media-breakpoint-up(xl){
    width:200px*6;
  }
  @include media-breakpoint-up(xxl){
    width:213px*6;
  }
  @include media-breakpoint-up(xxxl){
    width:224px*6;
  }
  &--inner{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 224*12px;
  }
  &--item{
    display: block;
    float: left;
    // padding: 10px;
    text-align: center;
    width: 100%;
    @include media-breakpoint-up(sm){
      width: 192px;
    }
    @include media-breakpoint-up(md){
      width: 192px;
    }
    @include media-breakpoint-up(lg){
      width: 198px;
    }
    @include media-breakpoint-up(xl){
      width: 200px;
    }
    @include media-breakpoint-up(xxl){
      width: 213px;
    }
    @include media-breakpoint-up(xxxl){
      width: 224px;
    }
  }
  &--name{
    display: block;
    margin-top: rem(10);
  }
}
