.shop{
  &-index{
    border-bottom: 1px solid #e9ecef;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: rem(20);
    margin-bottom: rem(20);
    &--item{
      font-size: rem(16);
      font-weight: 500;
      padding: rem(5) rem(10);
      white-space: nowrap;
      &:hover{
        border-radius: 3px;
        background-color: #e95420;
        color: $white;
        text-decoration: none;
        .shop-index--badge{
          background-color: $white;
          color: #e95420;
        }
      }
    }
    &--badge{
      background-color: #e95420;
      border-radius: 20px;
      font-size: rem(12);
      font-weight: 400;
      color: $white;
      padding: rem(1) rem(5);
    }
  }
  // .aggregateRating{
  //   text-align: center;
  //   @include media-breakpoint-up(sm){
  //     text-align: left;
  //   }
  // }
}