.tt-menu{
  background-color: $white;
  border: 1px solid rgba($black, 0.125);
  padding: rem(5) rem(10);
}
.tt-suggestion{
  cursor: pointer;
  .frame{
    float: left;
    margin-right: rem(10);
  }
  .h4{
    margin-bottom: 0;
  }
  p{
    margin-bottom: 0;
  }
  + .tt-suggestion{
    border-top: 1px solid rgba($black, 0.125);
    margin-top: rem(10);
    padding-top: rem(10);
  }
}