/* Ubuntu Font Family Bower-ready v0.1.13 */
/* Ubuntu @font-face kit */

$UbuntuFontsPath: "../../assets/fonts";

/* BEGIN Ubuntu Light */
// @font-face {
//     font-family: 'Ubuntu';
//     src: url('#{$UbuntuFontsPath}/ubuntu-light-webfont.eot');
//     src: url('#{$UbuntuFontsPath}/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
//          url('#{$UbuntuFontsPath}/ubuntu-light-webfont.woff2') format('woff2'),
//          url('#{$UbuntuFontsPath}/ubuntu-light-webfont.woff') format('woff'),
//          url('#{$UbuntuFontsPath}/ubuntu-light-webfont.ttf') format('truetype'),
//          url('#{$UbuntuFontsPath}/ubuntu-light-webfont.svg#ubuntulight') format('svg');
//     font-weight: 300;
//     font-style: normal;
// }
/* END Ubuntu Light */

/* BEGIN Ubuntu Light Italic */
// @font-face {
//     font-family: 'Ubuntu';
//     src: url('#{$UbuntuFontsPath}/ubuntu-light-italic-webfont.eot');
//     src: url('#{$UbuntuFontsPath}/ubuntu-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('#{$UbuntuFontsPath}/ubuntu-light-italic-webfont.woff2') format('woff2'),
//          url('#{$UbuntuFontsPath}/ubuntu-light-italic-webfont.woff') format('woff'),
//          url('#{$UbuntuFontsPath}/ubuntu-light-italic-webfont.ttf') format('truetype'),
//          url('#{$UbuntuFontsPath}/ubuntu-light-italic-webfont.svg#ubuntulight_italic') format('svg');
//     font-weight: 300;
//     font-style: italic;
// }
/* END Ubuntu Light Italic */

/* BEGIN Ubuntu Regular */
@font-face {
    font-family: 'Ubuntu';
  //    src: url('#{$UbuntuFontsPath}/ubuntu-regular-webfont.eot');
  src: local('Ubutu'),
  url('#{$UbuntuFontsPath}/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$UbuntuFontsPath}/ubuntu-regular-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntu-regular-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntu-regular-webfont.ttf') format('truetype'),
         url('#{$UbuntuFontsPath}/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: 400;
    font-style: normal;
  font-display: swap;
}

/* END Ubuntu Regular */

/* BEGIN Ubuntu Regular Italic */
// @font-face {
//     font-family: 'Ubuntu';
//     src: url('#{$UbuntuFontsPath}/ubuntu-regular-italic-webfont.eot');
//     src: url('#{$UbuntuFontsPath}/ubuntu-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('#{$UbuntuFontsPath}/ubuntu-regular-italic-webfont.woff2') format('woff2'),
//          url('#{$UbuntuFontsPath}/ubuntu-regular-italic-webfont.woff') format('woff'),
//          url('#{$UbuntuFontsPath}/ubuntu-regular-italic-webfont.ttf') format('truetype'),
//          url('#{$UbuntuFontsPath}/ubuntu-regular-italic-webfont.svg#ubuntuitalic') format('svg');
//     font-weight: normal;
//     font-style: italic;
// }
/* END Ubuntu Regular Italic */

/* BEGIN Ubuntu Medium */
@font-face {
    font-family: 'Ubuntu';
  //   src: url('#{$UbuntuFontsPath}/ubuntu-medium-webfont.eot');
  src: local('Ubuntu'),
  url('#{$UbuntuFontsPath}/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$UbuntuFontsPath}/ubuntu-medium-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntu-medium-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntu-medium-webfont.ttf') format('truetype'),
         url('#{$UbuntuFontsPath}/ubuntu-medium-webfont.svg#ubuntumedium') format('svg');
    font-weight: 500;
    font-style: normal;
  font-display: swap;
}

/* END Ubuntu Medium */

/* BEGIN Ubuntu Medium Italic */
// @font-face {
//     font-family: 'Ubuntu';
//     src: url('#{$UbuntuFontsPath}/ubuntu-medium-italic-webfont.eot');
//     src: url('#{$UbuntuFontsPath}/ubuntu-medium-italic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('#{$UbuntuFontsPath}/ubuntu-medium-italic-webfont.woff2') format('woff2'),
//          url('#{$UbuntuFontsPath}/ubuntu-medium-italic-webfont.woff') format('woff'),
//          url('#{$UbuntuFontsPath}/ubuntu-medium-italic-webfont.ttf') format('truetype'),
//          url('#{$UbuntuFontsPath}/ubuntu-medium-italic-webfont.svg#ubuntumedium_italic') format('svg');
//     font-weight: 500;
//     font-style: italic;
// }
/* END Ubuntu Medium Italic */

/* BEGIN Ubuntu Bold */
// @font-face {
//     font-family: 'Ubuntu';
//     src: url('#{$UbuntuFontsPath}/ubuntu-bold-webfont.eot');
//     src: url('#{$UbuntuFontsPath}/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('#{$UbuntuFontsPath}/ubuntu-bold-webfont.woff2') format('woff2'),
//          url('#{$UbuntuFontsPath}/ubuntu-bold-webfont.woff') format('woff'),
//          url('#{$UbuntuFontsPath}/ubuntu-bold-webfont.ttf') format('truetype'),
//          url('#{$UbuntuFontsPath}/ubuntu-bold-webfont.svg#ubuntubold') format('svg');
//     font-weight: bold;
//     font-style: normal;
// }
/* END Ubuntu Bold */

/* BEGIN Ubuntu Bold Italic */
// @font-face {
//     font-family: 'Ubuntu';
//     src: url('#{$UbuntuFontsPath}/ubuntu-bold-italic-webfont.eot');
//     src: url('#{$UbuntuFontsPath}/ubuntu-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('#{$UbuntuFontsPath}/ubuntu-bold-italic-webfont.woff2') format('woff2'),
//          url('#{$UbuntuFontsPath}/ubuntu-bold-italic-webfont.woff') format('woff'),
//          url('#{$UbuntuFontsPath}/ubuntu-bold-italic-webfont.ttf') format('truetype'),
//          url('#{$UbuntuFontsPath}/ubuntu-bold-italic-webfont.svg#ubuntubold_italic') format('svg');
//     font-weight: bold;
//     font-style: italic;
// }
/* END Ubuntu Bold Italic */
