$grid-columns: 24;
$grid-gutter-width: 10px;
$grid-gutter-width-base: 5px !default;
$grid-gutter-widths: (
        xs: $grid-gutter-width-base,
        sm: $grid-gutter-width-base,
        md: $grid-gutter-width-base,
        lg: $grid-gutter-width-base,
        xl: $grid-gutter-width-base,
        xxl: $grid-gutter-width-base,
        xxxl: $grid-gutter-width-base
) !default;
@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // Do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1280px,
        xxxl: 1440px
);
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");

$container-max-widths: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1180px,
        xxl: 1260px,
        xxxl: 1420px
);
@include _assert-ascending($container-max-widths, "$container-max-widths");


$green: #009000;
$red: #bf0000;